{ //具体的看babel官网
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        "@babel/transform-runtime", //解决异步问题 如yeild
        "@babel/plugin-proposal-class-properties" //解决还在拟的或者即将出来的新语法，比如class函数中的static关键字
    ]
}